<header class="main-header">
  <div class="container">
    <div class="logo-container">
      <img src="assets/img/node.gif" alt="Logo" class="logo-gif">
      <h1>Api de arquitectura orientada a servicios</h1>
    </div>
    <nav>
      <ul>
        <li *ngIf="userData?.username">
          <img [src]="userData.avatar" alt="avatar {{userData.username}}" class="avatar">
          <span>Bienvenido, {{userData.username}}</span>
        </li>
        <li>
          <a (click)="logout()">Logout</a>
          <i class="bi bi-box-arrow-right"></i>
        </li>
      </ul>
    </nav>
  </div>
</header>
