@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: #eeeceb;
}

footer {
  position: relative;
  background: #19274a;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer::before {
  content: "";
  position: absolute;
  top: -30px; /* Ajusta según el tamaño de los picos */
  left: 0;
  width: 100%;
  height: 45px; /* Altura de los picos */
  background: #19274a; /* Debe coincidir con el color de fondo del footer */
  clip-path: polygon(0 90%, 25% 0, 50% 90%, 75% 0, 100% 100%);
}

footer .content {
  max-width: 1300px;
  padding: 30px 35px 30px 35px;
  position: relative; /* Añadido para asegurar que el contenido esté sobre los picos */
  z-index: 1; /* Asegura que el contenido esté sobre el pseudo-elemento */
  margin:  auto;
}

footer .bottom-details {
  max-width: 1300px;
  margin: auto;
}

.copyright_text{
  font-size: 16px;
  color: #cfcfcf;
}

footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content .top .logo-details {
  color: #fff;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.content .top .media-icons {
  display: flex;
}

.content .top .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1) {
  background: #4267b2;
}

.top .media-icons a:nth-child(1):hover {
  color: #4267b2;
  background: #fff;
}

.top .media-icons a:nth-child(2) {
  background: #1da1f2;
}

.top .media-icons a:nth-child(2):hover {
  color: #1da1f2;
  background: #fff;
}

.top .media-icons a:nth-child(3) {
  background: #e1306c;
}

.top .media-icons a:nth-child(3):hover {
  color: #e1306c;
  background: #fff;
}

.top .media-icons a:nth-child(4) {
  background: #0077b5;
}

.top .media-icons a:nth-child(4):hover {
  color: #0077b5;
  background: #fff;
}

.top .media-icons a:nth-child(5) {
  background: #000000;
}

.top .media-icons a:nth-child(5):hover {
  color: #000000;
  background: #fff;
}
