<footer>
  <div class="content">
    <div class="top">
      <div class="logo-details">
        <span>Harold Martinez</span>
      </div>
      <div class="media-icons">
        <a href="https://facebook.com/" class="facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/" class="twitter"><i class="fab fa-twitter"></i></a>
        <a href="https://instagram.com/" class="instagram"><i class="fab fa-instagram"></i></a>
        <a href="https://linkedin.com/" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://github.com/Harold21Mtz" class="github"><i class="fab fa-github"></i></a>
      </div>
    </div>
    <div class="bottom-details">
      <span class="copyright_text">Copyright © 2024 All rights reserved</span>
    </div>
  </div>
</footer>
